# Kafka server, default localhost:9092
KAFKA_BOOTSTRAP_SERVER=

# Sink/GCS
BUCKET_PATH=gs://it4043e/it4043e_group8_problem3/raw/

# Spark
SPARK_MASTER=

# ES/Kibana
ES_URL=
KIBANA_URL=
ES_USERNAME=
ES_PASSWORD=

# For testing, no need
SCR_TW_USERNAME=
SCR_TW_PASSWORD=
CRL_KAFKA_TOPIC=crl_kafka_topic_test
